<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- below listeners must keep the order-->
    <!--#1 listeners for platform logging-->
    <listener>
        <listener-class>com.mpe.portal.web.listeners.AppLogListener</listener-class>
    </listener>
    <context-param>
        <param-name>app.cfg.log.path</param-name>
        <param-value>logging.xml</param-value>
    </context-param>
    <!--#4 listeners for spring context-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>
    <!-- encoding filters setting-->
    <!--#2 listeners for Session-->
    <listener>
        <listener-class>com.mpe.portal.web.listeners.AppSessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Authentication filters-->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.mpe.portal.web.filter.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>notCheckResource</param-name>
            <param-value>.html,.png,.ico,.bmp,.jpg,.jpeg,.css,.js,.gif,.ttf,.woff,.svg</param-value>
        </init-param>
        <init-param>
            <param-name>notCheckServlets</param-name>
            <param-value>/sigin.jsp,/application/login.action,/message/message.recordMessage.action</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Authentication filters-->
    <filter>
        <filter-name>VisitMonitorFilter</filter-name>
        <filter-class>com.mpe.portal.web.filter.VisitMonitorFilter</filter-class>
        <init-param>
            <param-name>monitorResource</param-name>
            <param-value>.html,.jsp,.action</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>VisitMonitorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- struts framework setting-->
    <filter>
        <filter-name>StrutsCleanUpFilter</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>com.mpe.portal.web.controllers</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StrutsCleanUpFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <icon>
        <small-icon>/fav.png</small-icon>
        <large-icon>/fav.png</large-icon>
    </icon>
    <error-page>
        <error-code>401</error-code>
        <location>/response/401.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/response/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/response/404.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>sigin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
